{% extends 'base.html' %}

{% block title %}Search Stock{% endblock %}

{% block content %}
<style>
    .errorlist{
        display: none;
    }
</style>

<div class="container">
    <div class="search mt-3 text-center">
        <h1 class="mb-4">Find Stock</h1>
        <div class="search-area">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="form-group">
                        
                        {{ form.as_p }}
                    
                        <!--
                        <label for="">Stock name:</label>
                        <input type="text"
                        class="form-control" name="stock_name" id="stock_name" placeholder="Enter your stock name...">
                        -->                            
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}